/* print.css */
.top{
 
    display: none; 
     
}


body {
  font-family:'Open Sans', sans-serif;
  font-size: 12pt;
  color: #000000;
    max-width: 8in;
    margin: 0.1in;
    pointer-events: none;
    cursor: default;
    padding: 0.5in;
    border-style: double;
    border-color: #000000;
}

header {
    text-align: center;
}

h1, h2, h3 {
    font-family:'Raleway', sans-serif;
    color: #000000;
}

nav {
    display: none;
}

#samples {
display: none;
}

a {
    text-decoration: none;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}


a:hover {
    color: #000000;
}

a:active {
    color: #000000;
}



