/* web.css */
.top{
 
 
    margin-top: 20px;
    font-family: "Helvetica";
    text-decoration: none;
    color: #000000;
    float: top;
    text-align: center;
     
}

body {
  font-family:'Open Sans', sans-serif;
  font-size: 15px;
  color: #000000;
    max-width: 650px;
    margin: 20px;
    padding: 20px;
    border-style: double;
    border-color: #000000;
    border-width: 5px;
    background: #00FFFF;
    
}

header {
    text-align: center;
}

h1,h2,h3 {
    font-family:'Raleway', sans-serif;
    color: #000000;

}

nav {
    color: #0000ff;
}
